.portfolio {
  background-color: #F8F8FF;
}

#line {
    position: relative;
    left : 70px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 7px 11px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 25px;
}





.navbar-custom {
    background-color: #8B008B;
    color:#ffffff;
    border-radius:0;
}


#about {
  background-color: darkgray;
}


.navbar {
    height: 75px;
}

.buttons {
  padding-top: 15px;
}


#yo {
  color : white;
}

.gray {
  color : #696969;
}

.contact-me {
  background-color: #F8F8FF;
}

h1 {
  color: blue;
}

hr {
  border-color: black;
}


name {
   height:75px;
   width: 450px;
   font-size:100pt;
  
}

#message{
  height:300px;
}


[type="text"] {
    font-size:30px;
}


h5 {
  visibility: hidden;
}
#body {
  background-color : 	#696969;
}

input {
    border-style: solid;
    border-top : 0;
    border-left : 0;
    border-right : 0;
    border-color : darkgray;
    background-color: #F8F8FF;
}

input:focus {outline:none;}



